<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /soporteSEIEM/MesadetrabajoSEIEM/mesatrabajo/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /soporteSEIEM/MesadetrabajoSEIEM/mesatrabajo/index.html [L]
</IfModule>
