<IfModule mod_rewrite.c>
 RewriteEngine On

# NO redirigir backend a Angular
RewriteCond %{REQUEST_URI} !backend/

# reglas normales de Angular
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
</IfModule>
